<?xml version="1.0" encoding="utf-8"?>

<configuration>
 <system.webServer>
    <rewrite>
      <rules>
        <rule name="AngularJS Routes" stopProcessing="true">
          <match url="src/.*" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                <add input="{REQUEST_URI}" pattern="^/src/(api)" negate="true" />
            </conditions>
          <action type="Rewrite" url="/src/" />
        </rule>
        <rule name="Admin Route" stopProcessing="true">
          <match url="admin/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/admin/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/admin/" />
        </rule>
        <rule name="No Route" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/src/" />
        </rule>
        <rule name="Slash Route" stopProcessing="true">
          <match url="^/$" />
          <action type="Rewrite" url="/src/" />
        </rule>
        <rule name="Bad Route" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/admin/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/src/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>